repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black

  - repo: https://github.com/pylint-dev/pylint
    rev: v3.3.1
    hooks:
      - id: pylint
        additional_dependencies: [click>=8.3.0, python-dotenv>=1.2.1]
        args: [--fail-under=10.0]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        additional_dependencies:
          [click>=8.3.0, python-dotenv>=1.2.1, pytest>=7.0.0]
        args: [--strict]

  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: .venv/bin/pytest
        language: system
        pass_filenames: false
        always_run: true
        args: [--cov=click_extended, --cov-fail-under=80]
